<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
        <th:block th:fragment="content">
            <h1 class="mt-4">GuestBook List Page
                <span>
                    <a th:href="@{/guestbook/register}">
                        <button type="button" class="btn btn-outline-primary">REGISTER</button>
                    </a>
                </span>
            </h1>

            <form action="/guestbook/list" method="get" id="searchForm">
                <div class="input-group">
                    <input type="hidden" name="page" value="1">
                    <div class="input-group-prepend">
                        <select class="custom-select" name="type">
                            <option th:selected="${pageRequestDTO.type == null}">--------</option>
                            <option value="t" th:selected="${pageRequestDTO.type = 't'}">제목</option>
                            <option value="t" th:selected="${pageRequestDTO.type = 'c'}">내용</option>
                            <option value="t" th:selected="${pageRequestDTO.type = 'w'}">작성자</option>
                            <option value="t" th:selected="${pageRequestDTO.type = 'tc'}">제목 + 내용</option>
                            <option value="t" th:selected="${pageRequestDTO.type = 'tcw'}">제목 + 내용 + 작성자</option>
                        </select>
                    </div>
                    <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                    <div class="input-group-append" id="button-addon4">
                        <button class="btn btn-outline-secondary btn-search" type="button">Search</button>
                        <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
                    </div>
                </div>
            </form>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Writer</th>
                        <th scope="col">Regdate</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="dto : ${result.dtoList}">
                    <th scope="row">
                        <a th:href="@{/guestbook/read(gno=${dto.gno},page=${result.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">[[${dto.gno}]]</a>
                    </th>
                    <td>[[${dto.title}]]</td>
                    <td>[[${dto.writer}]]</td>
                    <td>[[${#temporals.format(dto.regDate,'yyyy/MM/dd')}]]</td>
                </tr>

                </tbody>

            </table>

            <ul class="pagination h-100 justify-content-center align-item-center">
                <li class="page-item" th:if="${result.prev}">
                    <a class="page-link" th:href="@{/guestbook/list(page=${result.start-1}, type=${pageRequestDTO.type}, keyword = ${pageRequestDTO.keyword})}" tabindex="-1">Previous</a>
                </li>

                <li th:class=" 'page-item' + ${result.page == page?'active':''}" th:each="page : ${result.pageList}">
                    <a class="page-link" th:href="@{/guestbook/list(page=${page}, type=${pageRequestDTO.type}, keyword = ${pageRequestDTO.keyword})}">
                        [[${page}]]
                    </a>
                </li>
                <li class="page-item" th:if="${result.next}">
                    <a class="page-link" th:href="@{/guestbook/list(page=${result.end+1}, type=${pageRequestDTO.type}, keyword = ${pageRequestDTO.keyword})}">Next</a>
                </li>
            </ul>

            <div class="modal" id="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Modal body text goes here.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </th:block>
    <script th:inline="javascript">
                var msg = [[${msg}]];
                console.log(msg);

                if(msg){
                    $('.modal').show();
                }

                var searchForm = $("#searchForm");
                $('.btn-search').click(function(e){
                    searchForm.submit();
                });

                $('.btn-clear').click(function(e){
                    searchForm.empty().submit();
                });
    </script>
</html>