<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
      <h1 class="mt-4">GuestBook Read Page</h1>
      <div class="form-group">
        <label>Gno</label>
        <input type="text" class="form-control" name="gno" th:value="${dto.gno}" readonly>
      </div>
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
      </div>
      <div class="form-group">
        <label>Content</label>
        <textarea type="text" class="form-control" name="content" rows="5" readonly>[[${dto.content}]]</textarea>
      </div>
      <div class="form-group">
        <label>Writer</label>
        <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
      </div>
      <div class="form-group">
        <label>RegDate</label>
        <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
      </div>
      <div class="form-group">
        <label>ModDate</label>
        <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
      </div>

      <a th:href="@{/guestbook/modify(gno=${dto.gno},page=${requestDTO.page},type=${requestDTO.type},keyword=${requestDTO.keyword})}">
        <button type="button" class="btn btn-primary">Modify</button>
      </a>
      <a th:href="@{/guestbook/list(page=${requestDTO.page},type=${requestDTO.type},keyword=${requestDTO.keyword})}">
        <button type="button" class="btn btn-info">List</button>
      </a>

    </th:block>

  </th:block>


</html>